* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazir;
}
@font-face {
  font-family: vazir;
  src: url("../font/vazir/Vazir-Bold-FD-WOL.ttf");
  src: url("../font/vazir/Vazir-Bold-FD-WOL.woff");
  src: url("../font/vazir/Vazir-Bold-FD-WOL.woff2");
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main {
  position: absolute;
  border: 2px solid white;
  border-radius: 15px;
  width: 96%;
  height: 91%;
  margin: 2rem;
  color: #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}
.button-center {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: 0.25px solid var(--glow-color);
  padding: 1rem 3rem;
  margin-top: 2rem;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.button:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
h1 {
  font-size: 6.2rem;
  animation: pulsate 1.5s infinite alternate;
  border-radius: 2rem;
  padding: 0.4em;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

.main-section {
  background-color: #2b2d42;
  height: 100vh;
}
.health {
  padding: 2rem;
  display: flex;
  direction: ltr;
}
.health img {
  width: 50px;
  height: 50px;
}
.info {
  text-align: center;
}
.info input {
  padding: 15px;
  width: 30%;
  border-radius: 50px;
  border: none;
  font-size: 35px;
  font-family: vazir;
}
